body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#616060, #362f2e, #000000);
  align-items: center;
  gap: 1em;
}

.nav-heading {
  font-size: 32px;
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
}

.nav-heading:hover {
  color: #ffffff;
  transition-duration: 0.5s;
}

span {
  color: #ffa500;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 24px;
}

.heading {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background: linear-gradient(#000000, #362f2e, #616060);
}

li {
  font-family: "Montserrat", sans-serif;
}

.heading {
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
}

iframe {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.address {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url(images/pizza.png);
}

.city-name {
  color: #ffffff;
  background-color: #424242;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}

.city-name:hover {
  background-color: #ffa500;
  color: #000000;
  font-weight: bold;
}

.address-container {
  background-image: url(images/pizza-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#616060, #362f2e, #000000);
}

.footer-img {
  width: 60px;
  margin: 20px;
}

.footer-text {
  font-size: 32px;
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media all and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }

  .city {
    width: 300px;
    height: 300px;
  }

  .city-name {
    font-size: 24px;
  }

  iframe {
    width: 180px;
    height: 180px;
  }

  .footer {
    flex-direction: column;
  }
}